@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --btn-active-color-primary: #0B4EA2;
    --font-display: 'Libertinus', serif;
}

body {
    font-family: var(--font-display);
}
